.pagination{
  display: flex;
  justify-content: center;
  li{
    border-radius: 50%;
    width: 29px;
    a{
      font-family: 'Stylish', sans-serif;
      font-size: 22px;
      color: #6e3c09;
      user-select: none;

      margin: 0 4px;
      padding: 0 4px;

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  .active{
    border: 2px solid #f68d06;
  }
}