@import '../variables';

.sort {
  display: flex;
  @media (max-width: 1270px) {
    margin-top: 30px;
  }
  button{
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 2px solid #655959;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
    color: #655959;
    margin: 0 5px;
    font-size: 19px;
    line-height: 1px;
    &:hover{
      border: 2px solid #e78210;
      color: #e78210;
    }
    &.active{
      border: 2px solid #e78210;
      color: #e78210;
    }
  }
  position: relative;
  &__label {
    margin-right: 20px;
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
